.attachment-upload {
  font-size: 24px;
  width: 24px;
  margin-right: 6px;
}

.default-table {
  .class-header-cell {
    width: 50%;
  }

  .class-cell {
    width: 50%;

    .lib-chips {
      margin: 3px 6px 3px 0;
    }
  }
}
