.mdo-field {
  .mdo-field-input {
    min-height: 74px;
    max-height: 300px;
    overflow-y: auto;
    align-items: flex-start;

    .chips-list {
      padding-top: 2px;
      padding-bottom: 2px;

      input {
        min-width: 40px;
      }
    }
  }
}
