div.root {
  user-select: text;
  height: 100%;
  overflow: hidden;
  width: 100%;

  .breadcrum-toolbar {
    padding: 8px 12px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;

      .breadcrum-head {
        width: 100%;
      }
    }
  }

  .relationship {
    .rel-select {
      padding: 5px;
      justify-content: space-between;
      margin-bottom: 12px;

      .mdo-field {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 1px;
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px - 16px);
    overflow: auto;

    .mdo-justify {
      margin: 0 16px;
      height: 90vh;

      .field-label {
        margin-bottom: 6px;
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        // margin: 0 62px;
      }
    }
  }
}
