div.root {
  user-select: text;
  height: 100%;
  padding: 0 12px;

  .table-loader {
    width: 100%;
  }

  .breadcrum-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px 0;
    min-height: 36px;
  }

  .lib-search {
    width: 213px;
    margin-right: 6px;
  }

  .task-inbox {
    height: calc(100% - 146px);
    overflow: auto;

    table.mat-table {
      width: 100%;
      overflow: auto;

      td.mat-cell {
        border-right: none;
      }

      .mat-column-select {
        width: 36px;
      }

      .mat-column-setting {
        width: 112px;
      }

      th.hidden-header {
        display: none;
      }
    }
  }

  .selected-items {
    margin-left: 1rem;
  }
}
