div.root {
  &.reply-message {
    border: none;
    padding-bottom: 6px;

    .reply-message-info {
      padding: 6px;
      border-radius: 3px;
    }

    .reply-message-text {
      margin-bottom: -12px;
      word-break: break-word;
      // max-height: 40px;
      // overflow: hidden;

      // &.extra-reply-text {
      //   margin-bottom: 0;
      //   position: absolute;
      //   width: 20px;
      //   right: 2px;
      //   bottom: 12px;
      //   background: #fafbfc;
      // }
    }
  }
}
