mat-icon.mat-icon {
  font-size: 12px;
}

.user-defined-set {
  position: relative;
  padding: 0 0 0 8px;
  overflow: auto;

  &.empty-space {
    margin-left: 30px;

    &::before {
      display: block;
      content: "";
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      left: 16px;
    }
  }

  &.nested-row {
    &::before {
      display: block;
      content: "";
      height: 17px;
      width: 1px;
      position: absolute;
      bottom: 0;
      left: 47px;
    }
  }

  .defined-row {
    border-width: 1px;
    border-style: solid;
    align-items: center;
    height: 54px;
    margin: 0 0 16px 0;
    border-radius: 3px;

    div.col {
      display: block;
      flex: 1;
      min-width: 0;
      position: relative;
      padding: 0 8px;

      &:first-of-type,
      &:last-of-type {
        min-width: auto;
        flex: 0 0 auto;
        padding: 0;
      }

      &.select-col {
        width: 16px;
        height: 54px;
        align-items: center;
        display: flex;
        z-index: 1;
        justify-content: center;
        text-align: center;
      }

      &.col-x2 {
        flex: 2;
      }

      &.col-x3 {
        flex: 3;
      }

      &.col-x5 {
        flex: 5;
      }

      &.col-x6 {
        flex: 6;
      }

      .mat-form-field {
        width: 95%;
      }
    }
  }
}
