.root {
  user-select: text;
  height: 100%;
  overflow: hidden;
  align-items: flex-start;

  .breadcrum-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px 12px;
    min-height: 36px;
    align-items: baseline;

    .mdo-constrained-right {
      align-items: flex-start;
      width: 100%;
      margin-right: 0;
      overflow: hidden;

      .breadcrum-head {
        width: 100%;
      }
    }
  }

  .sidesheetcontent-listing {
    width: 900px;
    height: calc(100% - 52px);
    overflow: hidden;

    .mdo-justify {
      align-items: flex-start;
      height: 100%;

      .hierarchy-listing {
        width: 276px;
        height: 100%;
        border-right-width: 1px;
        border-right-style: solid;
        padding-right: 12px;
        margin-right: 12px;
        overflow-x: auto;
      }

      .form-area-container {
        height: 98%;
        overflow: auto;
      }
    }
  }

  .split-col {
    height: 100%;
    width: 1px;
    position: relative;

    .split-arrow {
      border-radius: 50%;
      position: absolute;
      left: -22px;
      top: 16px;
      cursor: pointer;
      z-index: 2;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 16px;

      mat-icon.mat-icon {
        width: 9px;
        font-size: 8px;
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 56px;
      }
    }
  }
}
