div.root {
  user-select: text;
  height: 100%;
  padding: 0 12px;
  overflow: hidden;

  .breadcrum-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px 0;
    min-height: 36px;

    .s-close {
      margin-right: 8px;
    }
  }

  .f-col {
    &.table-loader {
      width: 750px;
    }
  }

  .filters-list {
    align-items: flex-start;

    .lib-search {
      width: 213px;
      margin-right: 6px;
    }
  }

  .lib-section {
    margin: 4px 0;
  }

  .list-container {
    height: calc(100% - 52px);
  }

  .hide-table {
    display: none;
  }

  .data-listing {
    overflow: auto;
    flex: 1;

    &.s-data-listing {
      height: calc(100% - 110px);
      overflow: auto;
    }

    table.mat-table {
      border-collapse: separate;

      &.resizing {
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        cursor: col-resize;
      }

      .large-cell-header,
      .large-cell-content {
        word-break: break-word;
      }

      .mat-cell,
      .mat-header-cell {
        &.more-icon {
          justify-content: center;
        }

        .sort-container {
          cursor: pointer;
          width: 100%;
        }
      }

      .mat-column-_select,
      .mat-column-_settings,
      .mat-column-OBJECTNUMBER,
      .mat-column-_select_filter,
      .mat-column-_settings_filter,
      .mat-column-OBJECTNUMBER_filter {
        border-right: none;
      }
    }
  }

  .loading-result {
    height: calc(100% - 36px - 16px * 3);
    align-items: center;
    justify-content: center;
  }
}

.menu-customdropdown {
  max-height: 50px;
  overflow-y: auto;
}

.history-entries {
  max-height: 100px;
  overflow: auto;
}

.saved-filters-menu {
  max-height: 220px;
  overflow-y: auto;
}

.sidesheetcontent-listing {
  height: calc(100% - 52px - 8px);
  width: 600px;
  max-width: 600px;
  overflow: hidden;
  margin: 0 44px;
}

.search-container {
  padding: 8px;
}

.flow-list-section {
  max-height: 360px;
  min-height: auto;
}

.empty-state {
  justify-content: center;
  height: calc(100% - 56px - 56px);

  .messages {
    display: flex;
    margin-top: -36px;
  }
}
