div.root {
  user-select: text;
  height: 100%;
  overflow: hidden;
  width: 300px;

  .breadcrum-toolbar {
    padding: 8px 12px;
    min-height: 36px;
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .mdo-justify {
      margin: 0 12px;

      .field-label {
        margin-bottom: 6px;
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    width: 400px;

    .breadcrum-toolbar {
      padding: 8px 48px;
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 48px;
      }
    }
  }
}
